<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GNSS API</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <main class="centered">
        <h1>GNSS API</h1>
        <p>Log in and capture the JWT to use the GNSS API:</p>
        <a href="/login"><button id="log-in-button">Log in</button></a>
        <a href="/logout"><button id="log-out-button">Log out</button></a>
    </main>
</body>

</html>