<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GNSS API Logged in</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <main class="centered">
        <h1>LOGGED IN!</h1>
        <p>JWT Token:</p>
        <div class="jwt-container">
            <p id="jwt"></p>
        </div>
        <a href="/">
            <p>Return to home page</p>
        </a>
    </main>
</body>

<script type="text/javascript">
    url = window.location.href;
    document.getElementById('jwt').innerHTML = url.match(/\#(?:access_token)\=([\S\s]*?)\&/)[1];
</script>

</html>